############################################################################
# Architecture dependent makefile settings
############################################################################

# Fortran 2003 compiler
FXX = mpif90

# Fortran compiler otions
FXXOPT = -assume realloc_lhs -stand f03 -warn

# Linker
LN = $(FXX)

# Linker options
LNOPT = 

# FYPP interpreter
FYPP = fypp

# FYPP interpreter options (e.g. -DDEBUG for debug mode)
FYPPOPT = ""
